<div id="main">

<div id="profile">
  <img src="assets/profile_icon.svg" id="profile_icon">
  <div id="email">
    <img src="assets/arrow.svg" align="right" id="arrow">
    <p id="username">driesen80@gmail.com</p>
  </div>
</div>
<div id="links">

  <div class="side_link" id="Enrolled">
      <img src="assets/dashboard.svg" class="icon">
      <p class="link_name">Dashboard</p>
      <div class="active">f </div>
    </div>

  <div class="side_link" id="Enrolled">
    <img src="assets/dashboard.svg" class="icon">
    <p class="link_name">Profile</p>
    <div class="not_active">f </div>
  </div>

  <div class="side_link" id="Enrolled">
      <img src="assets/dashboard.svg" class="icon">
      <p class="link_name">Enrolled Classes</p>
      <div class="not_active">f </div>
    </div>

</div>
</div>