#main {
    height: 100%;
    display: grid;
    grid-template-rows: 23.5vh auto;
    background-color: white;
}

#profile {
    background-color: #D5D5D5;
}

#profile_icon {
    padding-top: 5vh;
    width: 80px;
    height: 80px;
    padding-left: 2vh;
}

#username {
    padding-top: 2vh;
    padding-left: 2vh;
    margin: 0;
    font-size: 15px;
}

#arrow {
    padding-top: 2.1vh;
    padding-left: 5px;
    width: 16px;
}

#sidebar {
    display: grid;
    grid-template-columns: 10vw 8px;
    height: 20px;
}

.sidebar_link {
    display: grid;
    grid-template-columns: 24px auto;
    margin-top: 3vh;
    background-color: #F2F2F2;
    padding: 1.2vh 0;
    padding-left: 20px;
}



.sidebar_link h3 {
    margin: auto 0;
    font-size: 15px;
}

.not_selected {
    padding: 0;
    margin: 0;
}

.not_selected {
    background-color: grey;
    margin-top: 3vh;
}

.dashbaord_icon {
    width: 24px;
}



