#main {
    height: 100%;
    display: grid;
    grid-template-rows: 243px auto;
    background-color: white;
}

#profile {
    background-color: #D5D5D5;
    margin-bottom: 20px;
    padding-left: 16px;

}

#profile_icon {
    padding-top: 56px;
    width: 80px;
    height: 80px;
    padding-bottom: 28px;
}

#username {
    font-size: 15px;
    margin: 0;
}

#email {
    display: grid;
    grid-template-columns: 16px auto;
}

#arrow {
    width: 15px;
    margin: 0;
    margin-top: 1;
    margin-right: 6px;
}

.side_link {
    display: grid;
    grid-template-columns: 40px auto 8px;
    height: 50px;
    background-color:  rgba(0, 0, 0, 0.08);
    width: 220px;
    margin-top: 2.5vh;
}

.link_name {
    margin: 0;
    margin: auto;
    margin-left: 0px;
    font-size: 15px;
}


.active {
    background: #27A7CF;
    color: #27A7CF;
    font-size: 0;
}

.not_active {
    background: #C4C4C4;
    color: #C4C4C4;
    font-size: 0;
}

.icon {
    width: 24px;
    margin: auto;
}

