<div id="top">
  <p id="Logo">Txer</p>
</div>

<div id='content'>
  <div id='indent'>
    <div class='row1'>
      <div class='column'>
        <h1>Txer</h1>
        <p id="desc">Exellerate your classes tutorial schedule</p>
      </div>
      <div class='column'>
        <img src="assets/rocket.svg" id='rocket'>
      </div>
      <div id="call_to_action_div">
        <button id="cta">Start Free</button>
        <p>Already have an account?</p>
        <a routerLink="/login">Sign in to Txer</a>
      </div>
    </div>
    <div class='row2'>

    </div>

  </div>
</div>